img {
    height: 200px;

} 
body {
    font: normal;
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #00F1FF 50%, #144E75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #00F1FF 50%, #144E75 100%);
    background: linear-gradient(to right, #1C6EA4 0%, #00F1FF 50%, #144E75 100%);}
    
button {
    color: rgb(21, 227, 255); 
    font-size: 30px; 
    line-height: 30px; 
    padding: 12px; 
    border-radius: 50px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right,  rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
}
   
ul, ol {
    margin-left: 25%;
    margin-right: 25%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-variant: small-caps;
}
h1, h2, h3 {
    font-style: italic;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header {
    height: 100%;
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}
section {
    width: 100vw;
    text-align: center;
}
.intro {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%
}