table {
    justify-content: center;
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
input {
    display: none;
}

.hidden {
    visibility: hidden;
}

.radio-image {
    border: 5px solid royalblue;
    border-radius: 100%;
    width: 25%;
}
input:checked + .radio-image {
    border: 5px solid red;
}
/* too broad */
img {
    border: 5px solid royalblue;
    border-radius: 100%;
    width: 25%;
}